@import "./Global.scss";
@import "./CodeStyler.scss";

// General markdown
$MarkdownInterpreter_color: $Global_color-palette_primary;
$MarkdownInterpreter_font-family: $Global_font-family;
$MarkdownInterpreter_font-size: 14px;
$MarkdownInterpreter_font-weight: normal;
$MarkdownInterpreter_line-height: 1.5;

// Bold text
$MarkdownInterpreter_strong_font-weight: 600;

// Paragraph
$MarkdownInterpreter_p_margin-top: 0px;
$MarkdownInterpreter_p_margin-bottom: 16px;

// Header
$MarkdownInterpreter_h_margin-top: 24px;
$MarkdownInterpreter_h_margin-bottom: $MarkdownInterpreter_p_margin-bottom;
$MarkdownInterpreter_h_font-weight: $MarkdownInterpreter_strong_font-weight;
$MarkdownInterpreter_h_line-height: 1.25;
$MarkdownInterpreter_h_border-color: $Global_color-palette_secundary-border;
$MarkdownInterpreter_h_border-size: 1px;

$MarkdownInterpreter_h1_size: 2.000em;
$MarkdownInterpreter_h2_size: 1.500em;
$MarkdownInterpreter_h3_size: 1.250em;
$MarkdownInterpreter_h4_size: 1.000em;
$MarkdownInterpreter_h5_size: 0.875em;
$MarkdownInterpreter_h6_size: 0.850em;

$MarkdownInterpreter_h6_color: $Global_color-palette_secundary-text;

// Code
$MarkdownInterpreter_code_font-family: $CodeStyler_font-family;
$MarkdownInterpreter_code_font-size: $MarkdownInterpreter_font-size;
$MarkdownInterpreter_font-weight: $CodeStyler_font-weight;

$MarkdownInterpreter_code_background: $CodeStyler_background;
$MarkdownInterpreter_code_border: $CodeStyler_border;
$MarkdownInterpreter_code_color: $CodeStyler_color;

// Quote
$MarkdownInterpreter_q_margin-top: 0.5 * $MarkdownInterpreter_p_margin-bottom;
$MarkdownInterpreter_q_margin-bottom: $MarkdownInterpreter_p_margin-bottom;
$MarkdownInterpreter_q_margin-horizontal: $MarkdownInterpreter_p_margin-bottom;

$MarkdownInterpreter_q_padding-horizontal: $MarkdownInterpreter_p_margin-bottom;
$MarkdownInterpreter_q_padding-top: $MarkdownInterpreter_p_margin-bottom;
$MarkdownInterpreter_q_padding-bottom: $MarkdownInterpreter_p_margin-top;

$MarkdownInterpreter_q_background: rgba($Global_color-palette_secundary-text, .13);
$MarkdownInterpreter_q_border-color: rgba($Global_color-palette_secundary-border, .5);
$MarkdownInterpreter_q_border-color-highlight: $Global_color-palette_highlight-2;
$MarkdownInterpreter_q_border-size: 4px;
