/******************************************************************************
	Color theme
******************************************************************************/
:root {
	/* content */
	--hz_background: #ffffff;
	--hz_color: rgba(0, 0, 0, 0.87);

	/* navbar */
	--hz_color_nav_background: #1b1c1d;
	
	--hz_color_nav_section_color: #ffffff;
	--hz_color_nav_section_border: rgba(255, 255, 255, 0.08);

	--hz_color_nav_item_color: rgba(255, 255, 255, .5);
	--hz_color_nav_item_color_hover: var(--hz_color_nav_section_color);
	--hz_color_nav_item_background: var(--hz_color_nav_background);
	--hz_color_nav_item_background_active: var(--hz_color_nav_section_border);
}