@import "color.css";

/******************************************************************************
	navbar
******************************************************************************/

.navbar {
	position: fixed;
	top: 0;
	width: 200px;
	height: 100%;
	background: var(--hz_color_nav_background);
	border-right: 2px solid var(--hz_color_nav_background);
	/* navbar not visible */
	left: -200px;
	opacity: 0;
	transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.navbar--visible {
	/* navbar visible */
	left: 0;
	opacity: 1;
}

/******************************************************************************
	navbar section
******************************************************************************/
.navbar_section {
	align-items: center;
	border-bottom: 1px solid var(--hz_color_nav_section_border);
	background: inherit;
	color: var(--hz_color_nav_section_color);
	padding: 12px;
	font-weight: bolder;
	font-size: 1em;
	text-decoration: none;
}

.navbar_section_header {
	align-items: inherit;
	background: inherit;
	color: inherit;
	padding-bottom: .5em;
	font-weight: inherit;
	font-size: inherit;
	text-decoration: inherit;
}

/******************************************************************************
	navbar item
******************************************************************************/

.navbar_item {
	display: flex;
	align-items: inherit;
	background: inherit;
	color: var(--hz_color_nav_item_color);
	font-weight: inherit;
	font-size: 0.85em;
	text-decoration: inherit;
}

.navbar_item .material-icons {
	margin-right: 12px;
}

.navbar_item:hover {
	color: var(--hz_color_nav_item_color_hover);
}

.navbar_item:active {
	background: var(--hz_color_nav_item_background_active);
}