// font
$Global_font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$Global_mono-font-family: Consolas, 'Courier New', Courier, Monospace;
// color palette
$Global_color-palette_primary         : #1b1c1d;
$Global_color-palette_primary-border  : #ffffff;
$Global_color-palette_secundary       : #f4f4f4;
$Global_color-palette_secundary-text  : #666666;
$Global_color-palette_secundary-border: #dddddd;
$Global_color-palette_highlight-1     : #f36d33; // Cherno orange
$Global_color-palette_highlight-2     : #be5504;
