@import "./Global.scss";

$Header_height: 41px;
$Header_padding: .92857143em 1.14285714em; //16px, 13px;

$Header_background: $Global_color-palette_primary;
$Header_border: rgba($Global_color-palette_primary-border, 0.08);

$Header_color: rgba($Global_color-palette_primary-border, 0.9);
$Header_font_family: $Global_font-family;
